@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "Home";
}

@using System.Web.Optimization

<div class="row">
     <div class="col-md-12">
          <div class="table-responsive">
               <div id="resultTarget"></div>
               <table class="table table-bordered">
                    <thead>
                         <tr>
                              <th>PRODUCT</th>
                              <th>Pret in ruble transnistriene</th>
                              <th>ACTION</th>
                         </tr>
                    </thead>
                    <tbody>
                         @using (Html.BeginForm("Product", "Home", FormMethod.Post, new { autocomplete = "off" }))
                         {
                              var produse = ViewBag.Products as List<WebAplication.Domains.Entities.User.Product>; // Obține lista de produse din ViewBag

                              if (produse != null)
                              {
                                   foreach (var prod in produse)
                                   {
                                        <tr>
                                             <td>@prod.name</td> <!-- Afișează numele produsului -->
                                             <td> @prod.price</td>
                                             <td>
                                                  <button style="float: right" class="btn btn-primary btn-xs" name="btn" type="submit" value="@prod.id">
                                                       View
                                                  </button>
                                             </td>
                                        </tr>
                                   }
                              }
                         }
                    </tbody>
               </table>
          </div>
     </div>
</div>

@section Scripts {
     @Scripts.Render("~/bundles/unobtrusive/js")

     <script type="text/javascript">
          function success(data) {
               if (data.RedirectUrl) {
                    window.location.href = data.RedirectUrl;
               } else {
                    $("#resultTarget").text(data.msg);
               }
          }

          function fail(data) {
               $("#resultTarget").text(data);
          }
     </script>
}
