@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "Product View";
}
@{
     var produse = Model.Product;
}


@using (Html.BeginForm("Product", "Home", FormMethod.Post, new { autocomplete = "off" }))
{
     
     <div class="product_image_area">
          <div class="container">
               <div class="row s_product_inner">
                    <div class="col-lg-6">
                         <div class="s_Product_carousel">
                              <div class="single-prd-item">
                                   <img class="img-fluid" src="@Url.Content(produse.img)" alt="">
                              </div>
                         </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                         <div class="s_product_text">
                              <h3>@produse.name</h3>
                              <h2>@produse.price</h2>

                              <a class="nav-link dropdown-toggle waves-effect waves-light" style="display: flex; align-items: center;" href="#">
                                   <img src="~/Templaid/images/running-shoe (1).png" alt="Imagine" class="noti-icon-img" style="margin-right: 5px;">
                                   <span>Category : Household</span>
                              </a>
                              <a class="nav-link dropdown-toggle waves-effect waves-light" style="display: flex; align-items: center;" href="#">
                                   <img src="~/Templaid/images/delivery-box_5585908.png" alt="Imagine" class="noti-icon-img" style="margin-right: 5px;">
                                   <span>Availibility: In Stock</span>
                              </a>


                              <p>
                                   Mill Oil is an innovative oil filled radiator with the most modern technology. If you are looking for
                                   something that can make your interior look awesome, and at the same time give you the pleasant warm feeling
                                   during the winter.
                              </p>

                              <div class="card_area d-flex align-items-center">
                                   <a class="nav-link dropdown-toggle waves-effect waves-light" href="#">
                                        <img src="~/Templaid/css/shopping-cart.png" alt="Imagine" class="noti-icon-img" style="display: block; margin-left: 15px;">
                                        <span style="display: block;">Add to Cart</span>
                                   </a>

                                   <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                                   <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
}