@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "Shopping";
}
<div class="container">
     <center><h2>Shopping</h2></center>
</div>
<style>
     .container {
          margin-top: -60px;
     }
</style>
